# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Custom for Visual Studio
*.cs     text diff=csharp
*.sln    text merge=union
*.csproj text merge=union
*.json   text
*.config text
*.nuspec text

# Standard to msysgit
*.bat    text eol=crlf
*.cmd    text eol=crlf

# Binary files
*.nupkg  binary
*.snk    binary
*.dll    binary
*.exe    binary
*.pdb    binary
*.jpg    binary
*.png    binary
*.gif    binary

# Lock files
project.lock.json merge=ours

# Ensure scripts are executable
*.sh text eol=lf
*.ps1 text eol=lf

# Linguist language=cs
*.cs linguist-language=csharp
